<app-profile-header></app-profile-header>

<div class="historyPageContainer ">
  <!-- sidebar -->
  <div class="sidebarContainer ">
    <h1 class="title">User Profile</h1>

    <div class="sidebar">
      <a routerLink="/profile/location" class="active"
        ><span class="material-icons">location_searching </span>Location</a
      >
      <a routerLink="/profile/history" 
        ><span class="material-icons">history</span>History</a
      >
      <a routerLink="/profile/setting"
        ><span class="material-icons">settings</span>Setting</a
      >
      <a  class="Logout" (click)="onOut()"
        ><span class="material-icons">power_settings_new</span>Logout</a
      >
    </div>
  </div>

  <!-- ///////////////////////// -->

  <div class="HistoryTable col-12">
  <div class="mypic">
    
      <img
        src="../../../assets/images/Group 50.png"
        class="imgCover"
        alt=""
        loading="lazy"
      />
     
      <img
        src="../../../assets/images/getty_522854574_360091.png"
        class="imgprofile"
        alt=""
        loading="lazy"
      />
      <div class="userinfo">
      <div class="name">Emmi John</div>
      <div class="address">Egypt,cairo</div>
      </div>

  </div>
    
    <!-- <div class="historyList">
      <table>
        <thead>
          <tr id="table-header">
            <th class="first">Service</th>
            <th class="second">date</th>
            <th class="third">Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="service">
            <td>dfcgvbh</td>
            <td>fghjk</td>
            <td>esrdfgh</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
                
              />
            </td>
          </tr>
           <tr class="service">
            <td>dfcgvbh</td>
            <td>fghjk</td>
            <td>esrdfgh</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
              
              />
            </td>
          </tr>
          <tr class="service">
            <td>dfcgvbh</td>
            <td>fghjk</td>
            <td>esrdfgh</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
               
              />
            </td>
          </tr>
          <tr class="service">
            <td>dfcgvbh</td>
            <td>fghjk</td>
            <td>esrdfgh</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
                
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
</div>
