.nav{
       width: 100%;
       display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
       //margin: auto;
}
.nav-link{
        cursor: pointer;
        color: #3FB0AC;
        font-size: 21px;
}
.line{
        width: 0.1rem;
        height: 1rem;
        background-color: #23615f; 
}
.toolbar {
    padding-top: 2rem;
    color: #23615f;
    display:flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
 ////////////////////////////////////////////////////////////////////////////

 $primary :#173E43;
$secondry: #3FB0AC;
.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.background{
    display: flex;
    position:fixed;
    top: 90px;
    right: auto;
    left: auto;
    
    background-image: url("../../../../src/assets/employee-images/circle.png");
    z-index: 0;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;

    .logo{
        background-image: url("../../../../src/assets/ticket/logo.png");
        position: absolute;
        width: 306px;
        height: 220px;
        z-index: 2;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 40px;
        top:105px;
       //left:110px;
       //left: auto;
        right: auto;
        left: 25%;

        .title{
            position: absolute;
            z-index: 3;
            font-size: 14px;
            color: $primary;
            font-weight: bold;
            top: 30px;
            left: 20%;
        //    left: 55px;
        }
        .number{
            position: absolute;
            z-index: 3;
            font-size: 40px;
            top:85px;
            left:27%;
            color: $secondry;
            font-weight: bold;
        }
    }

    .info{
        position: absolute;
        top:335px;
        // left: 120px;
        left: 25%;
        z-index: 4;
        text-align: center;
        font-weight: bold;

        &__securityCode{
            margin-bottom: 10px;
            font-size: 18px;

           .title{
                color: $primary;
                margin-right: 5px;
           }
           .number{
                color: $secondry;
           }
        }
        &__branch{
            margin-bottom: 10px;
            font-size: 14px;
            .title{
                color: $primary;
            }
            .address{
                color: $secondry;
            }
        }
        &__waiting{
            margin-bottom: 10px;
            font-size: 14px;

            .title{
                color: $primary;
            }
            .number{
                color: red;
            }
        }
        &__date{
            font-size: 14px;
            color: $secondry;
            //margin-bottom: 5px;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////
@media (max-width: 768px) {
    .logoCover {
      margin-left: -40rem;
    margin-top: -510px;
  
    }
  }

  @media (max-width: 320px){
    .background{
         width: 300px;
         height: 300px;
         .logo{
            top:50px;
            left: 17%;
         }
   
    .info{
            top: 285px;
            left: 13%;
         }
     }
      
    .toolbar{
        padding-top: 1rem;
    }
     .txt{
         font-size: 19px;
         text-align: center;
     }
    
  }