<div class="container">
  <span *ngIf="isLoggedIn" class="nav">
    <span class="toolbar">

      <span class="nav-link txt" [routerLink]="['./history']"> History </span>
      <span class="line"></span>
      <span class="nav-link txt" [routerLink]="['./location']"> My Location </span>
      <span class="line"></span>
      <span class="nav-link txt" [routerLink]="['./settings']"> Settings </span>
    </span>
  </span>
  <span *ngIf="!isLoggedIn" class="nav">
    <span class="toolbar">


      <span class="nav-link txt" (click)="navigateToLogin()">
        Login</span>
      <span class="line"></span>
      <span class="nav-link txt" (click)="navigateToRegister()">
        Register</span>
    </span>
  </span>

  <section class="section">
    <span class="background">
      <div class="logo">
        <div class="title">Your Number</div>
        <div class="number">{{ ticket["queueNumber"] }} </div>
      </div>

      <div class="info">
        <div class="info__securityCode">
          <span class="title">Security Code: </span>
          <span class="number">{{ ticket["securityCode"] }} </span>
        </div>
        <div class="info__branch">
          <span class="title">{{ ticket["company"].name }},</span>
          <span class="address">{{ ticket["branch"].branchName }}</span>
        </div>
        <div class="info__waiting">
          <span class="title">You will be served within </span>
          <span class="number"> 3 hours</span>
        </div>
        <div class="info__date">
          <span class="date">{{ ticket["createdAt"] }}</span>
          <!-- <span class="time">09:55:02</span> -->
        </div>
      </div>
    </span>
  </section>
</div>