<div class="container">
  <span *ngIf="isLoggedIn"
        class="nav">
    <span class="toolbar">

      <span class="nav-link txt"
            (click)="navigateToHistory()"> History </span>
      <span class="line"></span>
      <span class="nav-link txt"
            (click)="navigateToLocation()"> My Location </span>
      <span class="line"></span>
      <span class="nav-link txt"
            (click)="navigateToSetting()"> Settings </span>
    </span>
  </span>
  <span *ngIf="!isLoggedIn"
        class="nav">
    <span class="toolbar">
      <span class="nav-link txt"
            (click)="navigateToLogin()"> Login</span>
      <span class="line"></span>
      <span class="nav-link txt"
            (click)="navigateToRegister()"> Register</span>
    </span>
  </span>

  <section class="section">
    <span class="background">
      <div class="logo">
        <div class="title">Your Number</div>
        <div class="number">{{ ticket["newCst"].queueNumber }}</div>
      </div>

      <div class="info">
        <div class="info__securityCode">
          <span class="title">Security Code: </span>
          <span class="number">{{ ticket["newCst"].securityCode }} </span>
        </div>
        <div class="info__branch">
          <span class="title">{{ company["name"] }},</span>
          <span class="address">{{ branch["branchName"] }}</span>
        </div>
        <div class="info__waiting">
          <span class="title">You will be served within </span>
          <span class="number"> {{ ticket["estimaedTime"] }}</span>
        </div>
        <div class="info__date">
          <span class="date">{{ date }} </span>
          <span class="time">{{ time }}</span>
        </div>
      </div>
    </span>
  </section>
</div>

<app-serve-user (closeModel)='hideNotification($event)'
                [estimated]="ticket['estimaedTime']"
                [date]="date"
                [time]="time"
                [name]="person['firstName']"
                *ngIf="timeIsNow"></app-serve-user>
