<section class="upper-bk">
  <div class="first-layer"></div>
  <div class="second-layer"></div>
  <div class="third-layer"></div>
</section>
<section class="login">
  <div class="login__area">
    <div class="login__area__logo"></div>
    <div class="login__area__form">

      <h2 class="login__area__form__title">Login</h2>

      <form>

        <span>
          <mat-form-field class="full-width m-r">
            <input matInput maxlength="25" placeholder="Email" formControlName="username" required>
            <mat-error>
              <mat-error class="error-message"></mat-error>
            </mat-error>
          </mat-form-field>
        </span>

        <span class="btn-container">
          <span class="submit-btn" color="primary" mat-raised-button type="submit">
          </span>
        </span>
      </form>
      <div class="route-section">
        <span class="route-section__title">still waiting in the Queue? </span>
        <span class="route-section__route"> Get instant free accesses NOW!</span>
      </div>
    </div>



  </div>
</section>
<section class="lower-bk">

</section>