<app-profile-header></app-profile-header>

<div class="historyPageContainer">
  <!-- sidebar -->
  <div class="sidebarContainer">
    <h1 class="title">User Profile</h1>

    <div class="sidebar">
      <a routerLink="/profile/location"><span class="material-icons">location_searching </span>Location</a>
      <a routerLink="/profile/history"><span class="material-icons">history</span>History</a>
      <a routerLink="/profile/setting"
         class="active"><span class="material-icons">settings</span>Setting</a>
      <a class="Logout"
         (click)="onOut()"><span class="material-icons">power_settings_new</span>Logout</a>
    </div>
  </div>

  <!-- ///////////////////////// -->

  <div class="HistoryTable col-12">
    <div class="mypic">
      <img src="../../../assets/images/Group 50.png"
           class="imgCover"
           alt=""
           loading="lazy" />

      <img [src]="image || '../../../assets/images/getty_522854574_360091.png'"
           class="imgprofile"
           alt=""
           loading="lazy" />
      <input style="position: absolute; left: 38%;  z-index: 10; opacity: 0;"
             type="file"
             name="pic"
             #pic
             id=""
             [(value)]="img"
              (change)="imageSelected($event)">
      <button mat-mini-fab
              class="editIcon"
              aria-label="Example icon button with a menu icon" >
        <mat-icon>edit</mat-icon>
      </button>
      <div class="userinfo">
        <div class="name">
          {{ localStorageUserInfo.firstName }}
          {{ localStorageUserInfo.lastName }}
        </div>
        <div class="address">{{ localStorageUserInfo.location }} ,Egypt</div>
      </div>
    </div>
    <!-- //////////////////////// -->

    <div class="example-container">
      <form [formGroup]="accountDetailsForm"
            (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>first Name</mat-label>
            <input matInput
                   maxlength="10"
                   formControlName="firstname"
                   required />
            <mat-error *ngFor="let validation of account_validation_messages.firstname">
              <mat-error class="error-message"
                         *ngIf="
                  accountDetailsForm
                    .get('firstname')
                    .hasError(validation.type) &&
                  (accountDetailsForm.get('firstname').dirty ||
                    accountDetailsForm.get('firstname').touched)
                ">
                {{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>last Name</mat-label>
            <input matInput
                   maxlength="10"
                   formControlName="lastname"
                   required />
            <mat-error *ngFor="let validation of account_validation_messages.firstname">
              <mat-error class="error-message"
                         *ngIf="
                  accountDetailsForm
                    .get('lastname')
                    .hasError(validation.type) &&
                  (accountDetailsForm.get('lastname').dirty ||
                    accountDetailsForm.get('lastname').touched)
                ">
                {{ validation.message }}</mat-error>
            </mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="fill"
                          class="pass">
            <mat-label>Change password</mat-label>
            <input matInput
                   type="password"
                   placeholder="new Password"
                   required
                   [type]="hide ? 'password' : 'text'" />

            <button mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill"
                          class="pass">
            <mat-label>confirm password</mat-label>
            <input matInput
                   type="password"
                   formControlName="confirm_password"
                   [errorStateMatcher]="parentErrorStateMatcher" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="example-full-width"
                          appearance="fill">
            <mat-label>Location</mat-label>
            <input type="text"
                   placeholder="select location"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of options"
                          [value]="option.name">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-raised-button
                  color="primary"
                  #save
                  class="saveBtn"
                  type="submit">
            Save Changes
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
