<section class="background">
    <section class="card">
        <div class="card__bk">
        </div>
        <div class="card__data">
            <div class="card__data__title">Hey, {{name}} !</div>
            <!-- <div class="card__data__body">You</div> -->
            <div class="card__data__body">You will be served within
                <span> {{estimated}} </span> m</div>
            <div class="card__data__date">
                {{date}} {{time}}
            </div>
        </div>
        <!-- <div class="card__diamond"></div> -->

        <div class="card__buttons">
            <button class="ok common" (click)="clickHandler()">Ok</button>

        </div>
    </section>
    <div class="close"
         (click)="clickHandler()">
        x
        <!-- <i class="fas fa-times"></i> -->
    </div>
    <div class="logo"></div>
</section>
