<app-user-header></app-user-header>
<div class="circle">
  <div class="pageNo light">01</div>
  <div class="pageNo medium">02</div>
  <div class="pageNo dark">03</div>
  <div class="pageNo mainPage">04</div>
</div>
<div class="selectService">
  <img class="companyImg" src="../../../../assets/images/vodafone.jpg" />
  <p class="selectYourService">Select your service</p>
  <div class="center">
    <div class="services">
      <div class="service" *ngFor="let service of services">
        {{ service.serviceName }}
      </div>
    </div>
    <div class="arrowDiv"><img class="arrow" [src]="imgSrc" /></div>
  </div>
  <div class="footer">
    <img class="circleImg" src="../../../../assets/images/Group 10@2x.png" />
  </div>
</div>

