<app-user-header></app-user-header>
<div class="circle">
  <div class="pageNo light">01</div>
  <div [routerLink]="['/companylisting/',cityId]" class="pageNo medium">02</div>
  <div [routerLink]="['/companyBranch/',companyId]" class="pageNo dark">03</div>
  <div class="pageNo mainPage">04</div>
</div>
<div class="selectService">
  <img class="companyImg" [src]="companyImagyUrl" />
  <p class="selectYourService">Select your service</p>
  <div class="center">
    <div class="services">
      <!-- <div (click)="selectService(service)"class="service" *ngFor="let service of services">
        {{ service.name }}
      </div> -->

      <mat-chip-list>
         <mat-chip *ngFor="let service of services"
         (click)="selectService(service)" [selected]="service==ServiceSelected? true : false">{{ service.name }} </mat-chip>
      </mat-chip-list>

    </div>
    <div #nextScreen
         class="arrowDiv"
        [ngClass]="{'disabled': !ServiceSelected ? true: false, 'arr': ServiceSelected ? true : false}"
         (click)="goToTicketOrLogin()"><img class="arrow"
           [src]="imgSrc" /></div>
  </div>
  <div class="footer">
    <img class="circleImg" src="../../../../assets/images/Group 10@2x.png" />
  </div>
</div>

