<app-profile-header></app-profile-header>

<div class="historyPageContainer ">
  <!-- sidebar -->
  <div class="sidebarContainer ">
    <h1 class="title">User Profile</h1>

    <div class="sidebar">
      <a routerLink="/profile/location"
        ><span class="material-icons">location_searching </span>Location</a
      >
      <a routerLink="/profile/history" class="active"
        ><span class="material-icons">history</span>History</a
      >
      <a routerLink="/login"
        ><span class="material-icons">settings</span>Setting</a
      >
      <a routerLink="/login" class="Logout"
        ><span class="material-icons">power_settings_new</span>Logout</a
      >
    </div>
  </div>

  <!-- ///////////////////////// -->

  <div class="HistoryTable col-12">
  <div class="mypic">
    
      <img
        src="../../../assets/images/Group 50.png"
        class="imgCover"
        alt=""
        loading="lazy"
      />
     
      <img
        src="../../../assets/images/getty_522854574_360091.png"
        class="imgprofile"
        alt=""
        loading="lazy"
      />
      <div class="userinfo">
      <div class="name">Emmi John</div>
      <div class="address">Egypt,cairo</div>
      </div>

  </div>
    
    <div class="historyList">
      <table>
        <thead>
          <tr id="table-header">
            <th class="first">Service</th>
            <th class="second">date</th>
            <th class="third">Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="service">
            <td>Etsalat, customer service</td>
            <td>20-16-2020</td>
            <td>02:01:14</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
                (click)="test()"
              />
            </td>
          </tr><tr class="service">
            <td>Vodafone, Vodafone Cash</td>
            <td>15-6-2020</td>
            <td>09:13:44</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
                (click)="test()"
              />
            </td>
          </tr><tr class="service">
            <td>Bank Misr ,customer service</td>
            <td>1-1-2020</td>
            <td>20:13:44</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
                (click)="test()"
              />
            </td>
          </tr><tr class="service">
            <td>Orange, Orange Cash</td>
            <td>18-12-2019</td>
            <td>15:12:04</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
                (click)="test()"
              />
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
