
.historyPageContainer{
  width: 80vw;
  margin-top: 6rem;
  margin-left: 16rem;


}
.title{
  font-size: 2rem;
  font-weight: inherit;
   color: #23615F;
   cursor: default;
   margin-bottom: 4rem;
}
.roeitem{
    display: inline;
}

///////////////////////SIDEBAR///////////////////////@extend

.sidebar {
 // height: 80vh;
  margin: 0;
  padding: 0;
 // width: 20rem;
  //background-color:rebeccapurple;
  position: fixed;
  height:60%;
  //overflow: auto;
 // background-color: skyblue;
  //position: absolute;
  z-index: 5;
  .Logout{
    color: #3FB0AC;
   // position: fixed;
   position: relative;
    left: 0;
    top: 40%;

  }
}

.sidebar a {
  display: block;
  color: #23615F;
  padding: 16px;
  text-decoration: none;
  font-size: 1.3rem;
  span{
    margin-right: 10px;
    font-size: 1.2rem;
  }

 
}
 
.sidebar a.active {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #707070;

}

.sidebar a:hover:not(.active) {
 // background-color: #173E43;
  //color: white;
  //font-size: 1.5rem;
  //text-shadow: 0px 0px 9px #7070706c;
  cursor: pointer;
  transform: rotateX(360deg);
  transition: 1s;
  // font-weight: bold;
  
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
   
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  

  
}
///////////////////////////////////////////////////
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;

  }
  .Logout{

  }
  .historyPageContainer{
    width: 80vw;
    margin-top: 6rem;
    margin-left: 6rem;
  
  
  }
  .imgprofile{
    margin-top: -15rem;
    width: 6rem !important;
    position: relative;
    top:6rem !important;
    left: -3rem !important;
  }
  .imgCover{
 
    width: 300px !important;
    height: 300px  !important;
    top: -16rem !important;
    left: -10rem !important;

  }
  table{
    //background-color: red;
    //position:  !important;
    width: 100% !important;
    top: 13rem !important;
    left: 5rem !important; 
  }
  .userinfo{
    bottom: -1rem !important;
    left: 2rem !important;
  
  }
  .historyPageContainer{
    margin-left: 2rem !important;
  }
 
  
}
/////////////////////////////////////////////@extend
////////////////////////////////////////////@extend
.HistoryTable{

  /* position: relative; */
  width: 100%;
  padding-right: 1rem;
  padding-left: 25rem;
}

.mypic{
  position: relative;;
}

  .imgCover{
     // z-index: 0;
      width: 500px;
height:500px;
// margin-left: -4rem;
// margin-top: -12rem;
position: absolute;
top: -19rem;
left: 0rem;
  }
  .imgprofile{
    // margin-left: -20rem;
    margin-top: -15rem;
    width: 160px; 
position: absolute;
top: 8rem;
    left: 11rem;


  }
  .userinfo{
    //background-color: indigo;
    display: inherit;
    position: absolute;
    bottom: -2rem;
    left: 22rem;


  }
  .name{
    color: #23615F;
    font-size: 1.2rem;
    font-weight: bold;

  }
  .address{
    margin-top: 5px;
    color: #707070;
    font-size: 18;
  }

  ////////////////TABEL///////////////////

  table {
    border-collapse: collapse;
    width: 50%;
    border: 0px #ddd;
    margin-top: -105px;
    position: absolute;
    top: 12rem;
    left: 25rem;

  }
  
  th, td {
    text-align: left;
    padding: .5rem;
  }
  td{
    color: #707070;
   }
  
  tr:nth-child(even){background-color: #f2f2f2}



///////@extendgridding
.historyPageContainer{
  //margin-top: 5%;
  //margin-left: 8%;
//background-color: red;
}

// .historyList{
//   overflow: auto;
//   width: auto;
//   height: 200px;
//   margin-top: -2rem;
 
// }::-webkit-scrollbar {
//   width: 0px;
//   background: transparent;
// }

  
//  thead th { position: sticky;
//    top: 0; 
//    height: 100px; 
//    //background-color: sandybrown;
//   }
 //thead tr:first-child th { position: sticky; top: 0; }