<app-profile-header></app-profile-header>

<div class="historyPageContainer">
  <!-- sidebar -->
  <div class="sidebarContainer">
    <h1 class="title">User Profile</h1>

    <div class="sidebar">
      <a routerLink="/profile/location"
        ><span class="material-icons">location_searching </span>Location</a
      >
      <a routerLink="/profile/history" class="active"
        ><span class="material-icons">history</span>History</a
      >
      <a routerLink="/profile/setting"
        ><span class="material-icons">settings</span>Setting</a
      >
      <a class="Logout" (click)="onOut()"
        ><span class="material-icons">power_settings_new</span>Logout</a
      >
    </div>
  </div>

  <!-- ///////////////////////// -->

  <div class="HistoryTable col-12">
    <div class="mypic">
      <img
        src="../../../assets/images/Group 50.png"
        class="imgCover"
        alt=""
        loading="lazy"
      />

      <img
        src="../../../assets/images/getty_522854574_360091.png"
        class="imgprofile"
        alt=""
        loading="lazy"
      />
      <div class="userinfo">
        <div class="name">
          {{ localStorageUserInfo.firstName }}
          {{ localStorageUserInfo.lastName }}
        </div>
        <div class="address">{{ localStorageUserInfo.location }} ,Egypt</div>
      </div>
    </div>

    <div class="historyList">
      <table>
        <thead>
          <tr id="table-header">
            <th class="first">Service</th>
            <th class="second">date</th>
            <th class="third">Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="service">
          <tr *ngFor="let his of history">
            <td>{{ his.comanyName }},  {{ his.seviceName }}</td>
            <td>{{ his.date }}</td>
            <td>{{ his.time }}</td>
            <td>
              <img
                src="../../../assets/images/Icon metro-cross.png"
                (click)="onDelete(his)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
