<section class="background">
    <section class="card">
        <div class="card__bk">
        </div>
        <div class="card__data">
            <div class="card__data__title">Info Alert</div>
            <div class="card__data__body">Time is up,</div>
            <div class="card__data__body m-b">but you still have the
                chance to be served any time within the next <span>150</span> min</div>
            <div class="card__data__ques">
                <span class="verb">Will </span>
                <span class="ques">you be able to be there during this time?</span>
            </div>
        </div>
        <div class="card__diamond"></div>

        <div class="card__buttons">
            <button class="ok common">I'm Here</button>
            <button class="cancel common">Cancel</button>
        </div>
    </section>
</section>