$grey :#707070;
$primary: #173E43;
$watermilon:#F13026;

.background{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .1);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card{

    border:0.3px $grey solid;
    width: 25%;
    height: 60%;
    position: absolute;

    &__bk{
        background-image: url('../../../../assets/ticket/info-alert.png');
        // background-image: url('../../../../assets/ticket/info-alert.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width:49%;
        height: 130%;
    }
    &__data{
        padding-right: 20px;
        padding-left: 20px;
        position: relative;
        top: -17%;
        text-align: right;
        color: $primary;

        &__title{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 7%;
        }

        &__body{
            font-weight: 200;
            font-size: 15px;
            margin-bottom: 2%;
            font-weight: lighter;
            span{
                color: red;
            }
        }
        &__ques{
            font-size:13px ;
            .verb{
                color: red;
                font-weight: bold;
            }
            .ques{
                color: $primary;
            }
           
        }

    }
  
        &__diamond{
            background-image: url('../../../../assets/ticket/diamond.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            bottom: 13%;
            left: 45%;
            width: 10%;
            height: 10%;
            cursor: pointer;
        }
       

    &__buttons{
       
        position: relative;
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
       
        .common{
            color: white;
            font-size: 11px;
            border: none;
            width: 50%;
            margin-bottom: 5%;
            height: 70%;
            

        }
        .ok{
            margin-right: 2%;
            background-color: $primary;
     
        }
        .cancel{
            margin-left: 2%;
            background-color: $watermilon;
        }
    }
}
.m-b{
    margin-bottom: 10%;
}

@media (min-width:320px ){
    
    .card{
        width: 80%;
        height:75%;

        &__bk{
            width: 56%;
            height: 38%;
        }
        &__data{
            top:-7%;
        }
        &__buttons{
            margin-top: 20%;
        }
    }
}