<img src="../../../assets/images/Group 10.png" class="logoCover" alt="" loading="lazy">




<mat-toolbar class="toolbar">
       <!-- This fills the remaining space of the current row -->
    <span class="logo " ></span>
  <a routerLink="/login">
        <img class = "logoImg"src="../../../assets/images/Group 26.png" alt="" loading="lazy">
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="remaining-space"></span>

    <span> <a class="nav-link txt"  routerLink="/login">Login </a></span>
    <span class="line"></span>
    <span> <a class="nav-link txt"  routerLink="/register">Sign Up </a></span>
  </mat-toolbar>
