<section class="background">
    <section class="card">
        <div class="card__bk">
        </div>
        <div class="card__data">
            <div class="card__data__title">Warninng</div>
            <div class="card__data__body">Unfortunately,</div>
            <div class="card__data__body m-b">this branch is not available now</div>
            <div class="card__data__ques">
                <span class="verb">Do </span>
                <span class="ques">you want to re-book at the nearest branch?</span>
            </div>
        </div>
        <div class="card__buttons">
            <button class="ok common">Ok</button>
            <button class="cancel common">Cancel</button>
        </div>
    </section>
</section>